html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(233, 236, 239);
}

#root > h1 {
  text-align: center;
}

article.list-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 40px;
  background-color: white;
  position: relative;
  overflow-y: auto;
}

article.list-card > h3 {
  margin: 10px 0 30px 0;
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #DADADA;
}

article.list-card > h2 {
  font-weight: normal;
  font-size: 20px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  font-size: 16px;
  margin-bottom: 3px;
  color: #868E96;
}

form > input {
  height: 30px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin-bottom: 20px;
}

article.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 70px;
  left: 0;
}

article.add-container > form {
  background-color: #F8FAF9;
  padding: 20px;
  position: relative;
  width: 400px;
}

article.add-container > form:after {
  border-top: 10px solid #F8FAF9;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0 solid transparent;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 188px;
}

form > button.submit-button {
  border: 0;
  border-radius: 5px;
  height: 30px;
  background-color: #2962FF;
  color: white;
  cursor: pointer;
}

form > button.submit-button:hover {
  border: 0;
  border-radius: 5px;
  height: 30px;
  background-color: #448AFF;
  color: white;
}

article.add-container > button.circle-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  font-size: 30px;
  background-color: #38D9A9;
  cursor: pointer;
  line-height: 30px;
}

article.add-container > button.circle-button.active {
  transform: rotate(44deg);
}

article.add-container > button.circle-button:hover {
  background-color: #63E6BE;
}

ul > li {
  display: flex;
  flex-direction: column;
  color: #495057;
  position: relative;
}

ul > li > div {
  display: flex;
  border: none;
  padding: 20px 0;
  list-style: none;
  font-size: 20px;
  align-content: center;
}

ul > li > div >span {
  margin-left: auto;
  font-size: 13px;
  display: flex;
  align-items: center;
}

ul > li > div > button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

ul > li > div > button.edit {
  background-color: #2962FF;
  color: white;
}

ul > li > div > button.edit:hover {
  background-color: #448AFF;
}

ul > li > div > button.delete {
  background-color: #FF1744;
  color: white;
}

ul > li > div > button.delete:hover {
  background-color: #FF5252;
}

ul > li > form {
  margin-bottom: 20px;
}

ul > li.strikeout:after {
  content: "";
  border-bottom: 1px solid black;
  width: 312px;
  position: absolute;
  left: 32px;
  top: 32px;
  pointer-events: none;
}

button.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #DADADA;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 10px;
  background: none;
  position: relative;
}

button.checkbox.active:after {
  content:'✔';
  font-size: 14px;
  position: absolute;
  left: 3px;
  top: 1px;
}